.nhsuk-header__search-form--search-results {
  margin-bottom: 40px;
  background-color: transparent;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%
}

@media (min-width: 40.0625em) {
  .nhsuk-header__search-form--search-results {
      margin-bottom:48px
  }
}

.nhsuk-header__search-form--search-results .autocomplete-container {
  width: 100%
}

.nhsuk-header__search-form--search-results .autocomplete__menu--hidden {
  display: none
}

.nhsuk-header__search-form--search-results .autocomplete__input,.nhsuk-header__search-form--search-results .nhsuk-search__input {
  -ms-flex-positive: 2;
  -webkit-appearance: listbox;
  background-color: #fff !important;
  border-bottom: 1px solid #aeb7bd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-left: 1px solid #aeb7bd;
  border-right: 0;
  border-top: 1px solid #aeb7bd;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  flex-grow: 2;
  font-size: inherit;
  height: 52px;
  margin: 0;
  outline: none;
  padding: 0 16px;
  width: 100%
}

.nhsuk-header__search-form--search-results .autocomplete__input:focus,.nhsuk-header__search-form--search-results .nhsuk-search__input:focus {
  border: 4px solid #ffeb3b;
  box-shadow: inset 0 0 0 4px #212b32
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit {
  background-color: #007f3b;
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  float: right;
  font-size: inherit;
  height: 52px;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 8px 8px 0;
  width: 52px
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit .nhsuk-icon__search {
  fill: #fff;
  height: 38px;
  width: 38px
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit::-moz-focus-inner {
  border: 0
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:hover {
  background-color: #00662f;
  cursor: pointer
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:focus {
  background-color: #ffeb3b;
  border-bottom: 4px solid #212b32
}

.nhsuk-header__search-form--search-results .nhsuk-search__submit:focus .nhsuk-icon__search {
  fill: #212b32
}

.app-search-results-item {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.55556;
  font-weight: 600;
  text-decoration: none
}

@media (min-width: 40.0625em) {
  .app-search-results-item {
      font-size:22px;
      font-size: 1.375rem;
      line-height: 1.45455
  }
}

@media print {
  .app-search-results-item {
      font-size: 18pt;
      line-height: 1.15
  }
}

.app-search-results-item:hover {
  text-decoration: underline
}

.app-search-results-item::first-letter {
  text-transform: uppercase
}

.app-search-results-category {
  color: #4c6272;
  display: block;
  font-size: 14px
}

.nhsuk-list--border li {
  border-bottom: 1px solid #d8dde0;
  padding: 8px 0 16px
}

.nhsuk-list--border li>:first-child {
  margin-top: 0
}

.nhsuk-list--border li>:last-child {
  margin-bottom: 0
}

.nhsuk-list--border li:first-of-type {
  border-top: 1px solid #d8dde0;
  padding: 16px 0
}
